{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-xl-8 col-lg-8">
    <div class="card shadow mb-4">
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Calendar</h6>
      </div>
      <div class="card-body">
        <div id="idCalendar"></div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4">
    <div class="card shadow mb-4">
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Attendance</h6>
      </div>
      <div class="card-body">
          <div class="row d-flex justify-content-center align-items-center">
            <h4>Time-In: {{ attendance.time_in }}</h4>
            <h4>Time-Out: {{ attendance.time_out }}</h4>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <select id="idTaskSel" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" {% if attendance %}disabled{% endif %}>
              {% if attendance %}
              <option class="form-control" selected>{{ attendance.get_task_display }}</option>
              {% else %}
              <option class="form-control" selected>Open this to select task</option>
              {% endif %}
              {% for task in task_choices %}
              <option class="form-control" value="{{ task.0 }}">{{ task.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            {% if attendance.time_in and attendance.time_out %}
            <button id="idTimeInBtn" type="button" class="btn btn-danger" disabled>Already timed-out</button>
            {% elif not attendance %}
            <button id="idTimeInBtn" type="button" class="btn btn-secondary">Time-In</button>
            {% else %}
            <button id="idTimeInBtn" type="button" class="btn btn-danger">Time-Out</button>
            {% endif %}
          </div>
      
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const calendarEl = document.getElementById('idCalendar');
      const calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,dayGridWeek,dayGridDay'
          },
          initialView: 'dayGridMonth',
          events: [
              { title: 'Event 1', start: '2024-09-21' },
              
              { title: 'Event 1', start: '2024-09-21' },
              { title: 'Event 1', start: '2024-09-21' },
              { title: 'Event 1', start: '2024-09-21' },
              { title: 'Event 1', start: '2024-09-21' },
              { title: 'Event 1', start: '2024-09-21' },
              { title: 'Event 1', start: '2024-09-21' },
              { title: 'Event 1', start: '2024-09-21' },
              { title: 'Event 2', start: '2024-09-22' }
          ]
      });

      calendar.render();

      // Function to add a new event
      document.getElementById('add-event').addEventListener('click', function() {
          const newEvent = {
              title: 'New Event',
              start: '2024-09-23'
          };
          calendar.addEvent(newEvent);
      });
  });
</script>
<script>

$(document).ready(function() {
    let clockInTime = null;
    let timerInterval = null;


    function updateClock() {
        if (clockInTime) {
            const now = moment();
            const duration = moment.duration(now.diff(clockInTime));
            const formattedTime = moment.utc(duration.asMilliseconds()).format('HH:mm:ss');
            $('#current-time').text(formattedTime);
        }
    }


    function startTimer() {
        if (timerInterval) {
            clearInterval(timerInterval);
        }
        timerInterval = setInterval(updateClock, 1000);
    }


    function stopTimer() {
        if (timerInterval) {
            clearInterval(timerInterval);
            timerInterval = null; // Clear the interval reference
        }
    }

    let taskSel = $('#idTaskSel');
    let timein = $('#idTimeInBtn');


    // Function to handle time-in and time-out logic
    function handleTimeInOut() {
        if (timein.hasClass('btn-success')) {
            // Time-In Logic
            alert("You are Timed-In");
            taskSel.prop('disabled', true);
            timein.removeClass('btn-success').addClass('btn-danger').html('Time-Out');
            
            // Start timer
            clockInTime = moment();
            startTimer();
            
            let selectedTask = taskSel.val();
            // AJAX Logic
            const header_data = {
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
            };
            axios.post("{% url 'attendance:create_attendance' %}", {'task': selectedTask}, header_data)
            .then(function (response) {
              console.log(response.data);
            })

            // AJAX End

        } else if (timein.hasClass('btn-danger')) {
            // Time-Out Logic
            let confirmTimeOut = confirm("Are you sure you want to Time Out?");
            if (confirmTimeOut) {
                alert("You are Timed-Out");
                taskSel.prop('disabled', true);
                timein.html('Already Timed-out').prop('disabled', true);  
                // Stop timer
                stopTimer();
                clockInTime = null; // Reset the clock-in time
                $('#current-time').text('00:00:00'); // Reset the displayed time

                // AJAX Logic for Time-Out
                const header_data = {
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                };
                axios.post("{% url 'attendance:update_attendance' %}", {}, header_data)
                  .then(function (response) {
                    console.log(response.data);
                  })
                // AJAX End
            }
        }
    }


    // Event handler for task selection change
    taskSel.on('change', () => {
        if (taskSel.val() === 'Open this to select task') {
            timein.removeClass('btn-success').addClass('btn-secondary').html('Time-In');
            timein.prop('disabled', true);
        } else {
            timein.removeClass('btn-secondary').removeClass('btn-danger').addClass('btn-success').html('Time-In');
            timein.prop('disabled', false);
        }
    });

    // Attach click event handler to the time-in button
    timein.on('click', handleTimeInOut);
});
</script>
{% endblock %}
