{% load widget_tweaks %}
<div class="modal fade" id="expenseUpdateModal" tabindex="-1" role="dialog" aria-labelledby="expenseUpdateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form id="expenseUpdateForm" method="POST">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="expenseUpdateModalLabel">Update Expense</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% for field in expense_update_form %}
          <div class="form-row" style="margin-bottom: 1rem;">
            <label for="{{ field.auto_id }}">{{ field.label }}:</label>
            {% if field.field.widget.input_type != "checkbox" %}
              {{ field|add_class:"form-control" }}
            {% else %}
            <div class="col-lg-1">
              {{ field }}
            </div>
            {% endif %}
            <div id="{{ field.auto_id }}_error"></div>
          </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="idUpdateExpenseSave">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  /**
   * Script for submitting the form.
   */
  $(document).ready(() => {
    let updateURL;
    $('#idExpenseTableContainer').on('click', '.update-expense', (event) => {
      let id = event.currentTarget.dataset.id;
      let name = event.currentTarget.dataset.name;
      let amount = event.currentTarget.dataset.amount;
      let category = event.currentTarget.dataset.category;
      let date = event.currentTarget.dataset.date;
      let address = event.currentTarget.dataset.address;
      let tinNumber = event.currentTarget.dataset.tin_number;
      let orNumber = event.currentTarget.dataset.or_number;
      let isBusiness = event.currentTarget.dataset.is_business === 'True';
      
      updateURL = event.currentTarget.dataset.url;

      // Set the values on the update form.
      $('#id_name_update').val(name);
      $('#id_amount_update').val(amount);
      $('#id_category_update').val(category);
      $('#id_expense_date_update').val(date);
      $('#id_address_update').val(address);
      $('#id_tin_number_update').val(tinNumber);
      $('#id_or_number_update').val(orNumber);
      $('#id_is_business_update').prop('checked', isBusiness);
      $('#expenseUpdateModal').modal('show');
    });

    let expenseUpdateForm = $('#expenseUpdateForm');
    let saveButton = $('#idUpdateExpenseSave');
    let expenseUpdateModal = $('#expenseUpdateModal');

    /**
     * Remove all error messages on the customer form.
     */
    function clearErrorMessages() {
      $('[id^="id_"][id$="_error"]').empty();
    }

    function resetForm() {
      expenseUpdateForm[0].reset();
      clearErrorMessages();
    }

    // Event handler for modal close and reset the fields.
    expenseUpdateModal.on('hidden.bs.modal', () => {
      resetForm();
    });

    /**
     * Script for creating/updating product information.
     */
    saveButton.on('click', () => {
      // Serialize the form data and convert it to JSON
      let formData = new FormData(expenseUpdateForm[0]);
      let spinner = `
      <div class="spinner-border text-light" role="status" style="height: 1.4rem; width: 1.4rem">
        <span class="sr-only">Loading...</span>
      </div>`;
      saveButton.html(spinner);
      axios.post(updateURL, formData)
        .then(function (response) {
          expenseUpdateModal.modal('hide');
          clearErrorMessages();
          reloadComponent("{% url 'expenses:list_expense' %}", 'idExpenseTableContainer', true);
        })
        .catch(function (error) {
          console.log(error.response.data);
          if (error.response && error.response.data) {
            let errors = error.response.data.errors;
            for (let field in errors) {
              let errorMsgs = errors[field];
              $(`#id_${field}_update_error`).html(`<div class="text-danger">${errorMsgs}</div>`);
            }
          }
        })
        .finally(function () {
          saveButton.html('Save');
        });
    });
  });
</script>
<script>
  /**
   * Apply Daterangepicker.
   */
  $(function() {
    $('#id_expense_date_update').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
      minYear: 1980,
      maxYear: parseInt(moment().format('YYYY'), 10)
    });
  });
</script>
