<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th class="text-center" style="width: 10%;">Item Code</th>
        <th class="text-center" style="width: 30%;">Product</th>
        {% if user.is_staff %}
        <th class="text-center" style="width: 50%;">Description</th>
        <th class="text-center" style="width: 10%;">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.item_code }}</td>
        <td>
          <a href="{% url 'inventory:product' product.item_code %}">
            {{ product.name }}
          </a>
        </td>
        {% if user.is_staff %}
        <td>{{ product.description }}</td>
        <td class="text-center">
          <a 
            class="btn btn-warning update-product"
            data-item_code="{{ product.item_code }}"
            data-name="{{ product.name }}"
            data-description="{{ product.description }}"
          >
            <span class="icon text-white-50">
              <i class="fas fa-pen"></i>
            </span>
          </a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  /**
   * Apply datatable.net plugin on the table.
   */
  $(document).ready(function() {
    $('#dataTable').DataTable({
      order: [],
      pageLength: parseInt("{{ DATATABLES_LENGTH }}"),
    });
  });
</script>
