<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th class="text-center">SKU</th>
        <th class="text-center">Variation</th>
        {% if user.is_staff %}
        <th class="text-center">Capital</th>
        {% endif %}
        <th class="text-center">Price</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Delivery</th>
        {% if user.is_staff %}
        <th class="text-center">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for variation in variations %}
      <tr>
        <td>{{ variation.sku }}</td>
        <td>{{ variation.variation }}</td>
        {% if user.is_staff %}
        <td>{{ variation.capital }}</td>
        {% endif %}
        <td>{{ variation.price }}</td>
        <td>{% if not variation.quantity %}<span class="badge badge-pill badge-danger">0ut of stock</span>{% else %}{{ variation.quantity }}{% endif %}</td>
        <td class="text-center">
          <a
            class="btn btn-success add-delivery"
            data-id="{{ variation.id }}"
            data-name="{{ variation.name }}"
            data-variation="{{ variation.variation }}"
            data-url="{% url 'inventory:add_delivery' variation.id %}"
          >
            <span class="icon text-white-50">
              <i class="fas fa-truck"></i>
            </span>
          </a>
          <a
            class="btn btn-danger subtract-delivery"
            data-id="{{ variation.id }}"
            data-name="{{ variation.name }}"
            data-variation="{{ variation.variation }}"
            data-url="{% url 'inventory:add_delivery' variation.id %}"
          >
            <span class="icon text-white-50">
              <i class="fas fa-cart-arrow-down"></i>
            </span>
          </a>
        </td>
        {% if user.is_staff %}
        <td class="text-center">
          <a
            class="btn btn-warning update-variation"
            data-id="{{ variation.id }}"
            data-sku="{{ variation.sku }}"
            data-variation="{{ variation.variation }}"
            data-price="{{ variation.price }}"
            data-quantity="{{ variation.quantity }}"
            data-capital="{{ variation.capital }}"
            data-url="{% url 'inventory:update_variation' variation.item_code variation.id %}"
          >
            <span class="icon text-white-50">
              <i class="fas fa-pen"></i>
            </span>
          </a>
          <a
            class="btn btn-danger delete-variation"
            data-toggle="modal"
            data-target="#variationDeleteModal"
            data-url="{% url 'inventory:delete_variation' variation.item_code variation.id %}"
          >
            <span class="icon text-white-50">
              <i class="fas fa-trash"></i>
            </span>
          </a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  /**
   * Apply datatable.net plugin on the table.
   */
  $(document).ready(function() {
    $('#dataTable').DataTable({
      order: [
        [3, 'asc']
      ],
    });
  });
</script>
