<form class="needs-validation">
  {% for product in products %}
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">Product</label>
      <input type="text" class="form-control" id="validationCustom01" required>
    </div>
    <div class="col-md-2 mb-3">
      <label for="validationCustom02">Quantity</label>
      <input type="number" class="form-control" id="validationCustom02" value="1"  min="0" required>
    </div>
    <div class="col-md-2 mb-3">
      <label for="validationCustom02">Discount</label>
      <input type="number" class="form-control" id="validationCustom02" value="0"  min="0" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom01">Price</label>
      <input type="text" class="form-control" id="validationCustom01" value="2333" required readonly>
    </div>
    <div class="col-md-1 mb-3">
      <label for="validationCustom01">Price</label>
      <a href="#" class="btn btn-danger btn-circle">
        <i class="fas fa-trash  "></i>
      </a>
    </div>
  </div>
  {% endfor %}
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>
