<form id="idCheckoutForm">
  {% for product in products %}
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="idCheckoutProductName{{ product.id }}">Product</label>
      <input type="text" class="form-control" id="idCheckoutProductName{{ product.id }}" value="{{ product.name }}" required readonly>
    </div>
    <div class="col-md-3 mb-3">
      <label for="idCheckoutProductQuantity{{ product.id }}">Quantity</label>
      <input type="number" class="form-control checkout-product-quantity" data-target_id="{{ product.id }}" id="idCheckoutProductQuantity{{ product.id }}" value="{{ product.quantity }}"  max="{{ product.in_stock }}" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idCheckoutProductPrice{{ product.id }}">Price</label>
      <input type="text" class="form-control" id="idCheckoutProductPrice{{ product.id }}" data-price="{{ product.price }}" value="{{ product.total }}" required readonly>
    </div>
    <div class="col-md-1 mb-3">
      <label for="idCheckoutTrash{{ product.id }}" class="invisible">Price</label>
      <a href="#" class="btn btn-danger btn-circle trash-checkout-item" id="idCheckoutTrash{{ product.id }}" data-target_id="{{ product.id }}">
        <i class="fas fa-trash "></i>
      </a>
    </div>
  </div>
  {% endfor %}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#checkOutModal" style="width: 100% !important">Checkout</button>
</form>

<div class="modal fade" id="checkOutModal" tabindex="-1" role="dialog" aria-labelledby="checkOutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkOutModalLabel">Checkout Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if products %}
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.quantity }}</td>
              <td>&#8369;{{ product.price }}</td>
              <td>&#8369;{{ product.total }}</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="3">Total:</td>
              <td>&#8369;{{ total }}</td>
            </tr>
          </tbody>
        </table>
        {% else %}
        <div class="d-flex justify-content-center align-items-center">
          <h5>No product is selected.</h5>
        </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {% if products %}
          <button type="button" class="btn btn-primary" id="confirmToCheckout">Confirm</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
