{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-xl-9 col-lg-9">
    <div class="card shadow mb-4">
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Calendar</h6>
        {% if request.user.is_superuser %}
        <select id="idEmployeeSelect" class="form-control select2" style="width: 20%;">
          <option value="">{{ DEFAULT_SELECT }}</option>
          {% for user in users %}
          <option value="{{ user.id }}" {% if filters.created_by == user.id %}selected{% endif %}>{{ user.username }}</option>
          {% endfor %}
        </select>
        {% endif %}
      </div>
      <div class="card-body" id="idCalendarContainer">
        <!-- Load the calendar here -->
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Attendance</h6>
        <button data-toggle="modal" data-target="#overtimeModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-icon-split">
          <span class="icon text-white-50">
            <i class="fas fa-stopwatch"></i>
          </span>
          <span class="text">Apply Overtime</span>
        </button>
      </div>
      <div class="card-body" id="idAttendanceContainer">
        <!-- Load the attendance here -->
      </div>
    </div>
  </div>
</div>

{% include 'attendance/forms/create_overtime.html' %}
{% include 'attendance/forms/update_overtime.html' %}
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(() => {
    reloadComponent("{% url 'calendars:component' %}", 'idCalendarContainer', false);
    reloadComponent("{% url 'attendance:component' %}", 'idAttendanceContainer', false);
    $('.select2').select2();
    $('#idEmployeeSelect').on('change', () => {
      const employee = $('#idEmployeeSelect').val();
      reloadComponent(`{% url 'calendars:component' %}?employee=${employee}`, 'idCalendarContainer', false);
    });
  });
</script>
{% endblock %}
