{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-xl-9 col-lg-9">
    <div class="card shadow mb-4">
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Calendar</h6>
        <select id="idEmployeeSelect" class="form-control select2" style="width: 20%;">
          <option value="">{{ DEFAULT_SELECT }}</option>
          {% for user in users %}
          <option value="{{ user.id }}" {% if filters.created_by == user.id %}selected{% endif %}>{{ user.username }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="card-body" id="idCalendarContainer">
        <!-- Load the calendar here -->
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Attendance</h6>
      </div>
      <div class="card-body" id="idAttendanceContainer">
        <!-- Load the attendance here -->
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(() => {
    reloadComponent("{% url 'calendars:component' %}", 'idCalendarContainer', false);
    reloadComponent("{% url 'attendance:component' %}", 'idAttendanceContainer', false);
    $('.select2').select2();
    $('.select2').on('change', () => {
      const employee = $('#idEmployeeSelect').val();
      reloadComponent(`{% url 'calendars:component' %}?employee=${employee}`, 'idCalendarContainer', false);
    });
  });
</script>
{% endblock %}
