{% load widget_tweaks %}
<div class="modal fade" id="deliveryModal" tabindex="-1" role="dialog" aria-labelledby="deliveryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="addDeliveryForm" method="POST">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="deliveryModalLabel">Add stock</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="idDeliveryInput">Product</label>
            <input class="form-control" type="text" id="idDeliveryInput" readonly/>
          </div>
          {% for field in delivery_add_form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field|add_class:"form-control" }}
            <div id="{{ field.id_for_label }}_error"></div>
          </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="idAddQuantity">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  /**
   * Script for submitting the form.
   */
  $(document).ready(() => {
    let deliveryModal = $('#deliveryModal');
    let addDeliveryForm = $('#addDeliveryForm');
    let saveButton = $('#idAddQuantity');
    let addDeliveryUrl;

    $('#idVariationsTableContainer').on('click', '.add-delivery', (event) => {
      addDeliveryUrl = event.currentTarget.dataset.url;
      let name = event.currentTarget.dataset.name;
      let variation = event.currentTarget.dataset.variation;
      $('#idDeliveryInput').val(`${name} (${variation})`);
      deliveryModal.modal('show');
    });

    /**
     * Remove all error messages on the customer form.
     */
    function clearErrorMessages() {
      $('[id^="id_"][id$="_error"]').empty();
    }

    function resetForm() {
      addDeliveryForm[0].reset();
      clearErrorMessages();
    }

    // Event handler for modal close and reset the fields.
    deliveryModal.on('hidden.bs.modal', () => {
      resetForm();
    });

    /**
     * Script for creating/updating product information.
     */
    saveButton.on('click', () => {
      // Serialize the form data and convert it to JSON
      let formData = new FormData(addDeliveryForm[0]);
      let spinner = `
      <div class="spinner-border text-light" role="status" style="height: 1.4rem; width: 1.4rem">
        <span class="sr-only">Loading...</span>
      </div>`;
      saveButton.html(spinner);
      axios.post(addDeliveryUrl, formData)
        .then(function (response) {
          deliveryModal.modal('hide');
          clearErrorMessages();
          reloadComponent("{% url 'inventory:list_variation' product.item_code %}", 'idVariationsTableContainer', true);
        })
        .catch(function (error) {
          console.log(error.response.data);
          if (error.response && error.response.data) {
            let errors = error.response.data.errors;
            for (let field in errors) {
              let errorMsgs = errors[field];
              $(`#id_${field}_error`).html(`<div class="text-danger">${errorMsgs}</div>`);
            }
          }
        })
        .finally(function () {
          saveButton.html('Add');
        });
    });
  });
</script>
