{% load widget_tweaks %}
<style>
  label.invisible {
    color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
</style>
<div class="modal fade" id="inventoryModal" tabindex="-1" role="dialog" aria-labelledby="inventoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="inventoryForm" method="POST">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="inventoryModalLabel">Add an item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% for field in product_form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field|add_class:"form-control" }}
            <div id="{{ field.id_for_label }}_error"></div>
          </div>
          {% endfor %}
          <div class="form-row" style="margin-bottom: 1rem;" id="idVariationQuantityFieldset0">
            <div class="col-5">
              <label for="idProductVariation">Variation</label>
              <input class="form-control" type="text" name="variation_0" id="idProductVariation" required/>
            </div>
            <div class="col-5">
              <label for="idProductQuantity">Quantity:</label>
              <input class="form-control" type="number" name="quantity_0" id="idProductQuantity" required>
            </div>
            <div class="col-2">
              <!-- Leave Empty -->
            </div>
          </div>
          <div id="idVariationQuantityContainer">
            <!-- Dynamic fields for colors and quantities will be added here -->
          </div>
          <button type="button" class="btn btn-success" id="addVariationFieldBtn">Add Color</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="customerSave">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $(document).ready(() => {
    let counter = 1;
    $('#addVariationFieldBtn').on('click', () => {
      const VariationQuantityContainer = $("#idVariationQuantityContainer");

      // Add Color field and quantity to the container.
      const VariationQuantityFieldset = document.createElement("fieldset");
      VariationQuantityFieldset.innerHTML = `
        <div class="form-row" style="margin-bottom: 1rem;" id="idVariationQuantityFieldset${counter}">
          <div class="col-5">
            <label for="idProductVariation${counter}">Variation</label>
            <input class="form-control" type="text" name="variation_${counter}" id="idProductVariation${counter}" required/>
          </div>
          
          <div class="col-5">
            <label for="idProductQuantity${counter}">Quantity:</label>
            <input class="form-control" type="number" name="quantity_${counter}" id="idProductQuantity${counter}" required>
          </div>

          <div class="col-2">
            <label class="invisible">DeleteBtn</label>
            <button type="button" class="btn btn-danger color-delete-btn" id="idVariationDeleteBtn${counter}" data-id="${counter}" style="width: 100%">-</button>
          </div>
        </div>
      `;

      VariationQuantityContainer.append(VariationQuantityFieldset);
      counter++;
    });

    //
    $('#inventoryForm').on('click', ' .color-delete-btn', (event) => {
      let id = event.currentTarget.dataset.id;
      $(`#idVariationQuantityFieldset${id}`).remove();
    });
  });
  </script>
