{% load widget_tweaks %}
<div class="modal fade" id="inventoryModal" tabindex="-1" role="dialog" aria-labelledby="inventoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="customerForm" method="POST">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="inventoryModalLabel">Add Customer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% for field in customer_form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field|add_class:"form-control" }}
            <div id="{{ field.id_for_label }}_error"></div>
          </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="customerSave">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $(document).ready(() => {
    let customerForm = $('#customerForm'); // Get the form element
    let saveButton = $('#customerSave');
    let inventoryModal = $('#inventoryModal');

    /**
     * Remove all error messages on the customer form.
     */
    function clearErrorMessages() {
      $('[id^="id_"][id$="_error"]').empty();
    }

    function resetForm() {
      customerForm[0].reset();
      clearErrorMessages();
    }

    // Event handler for modal close
    inventoryModal.on('hidden.bs.modal', () => {
      resetForm();
    });

    /**
     * Script for creating/updating customer information.
     */
    saveButton.on('click', () => {
      // Serialize the form data and convert it to JSON
      let formData = new FormData(customerForm[0]);
      let spinner = `
      <div class="spinner-border text-light" role="status" style="height: 1.4rem; width: 1.4rem">
        <span class="sr-only">Loading...</span>
      </div>`;
      saveButton.html(spinner);
      axios.post("{% url 'customers:create_customer' %}", formData)
        .then(function (response) {
          console.log(response.data);
          $('#inventoryModal').modal('hide');
          clearErrorMessages();
          reloadComponent("{% url 'customers:new_customer' %}", 'newCustomerCount');
          reloadComponent("{% url 'customers:total_customer' %}", 'totalCustomerCount');
          reloadComponent("{% url 'customers:birthday_customer' %}", 'birthdayCelebrantCount');
        })
        .catch(function (error) {
          console.log(error.response.data);
          if (error.response && error.response.data) {
            let errors = error.response.data.errors;
            for (let field in errors) {
              let errorMsgs = errors[field];
              $(`#id_${field}_error`).html(`<div class="text-danger">${errorMsgs}</div>`);
            }
          }
        })
        .finally(function () {
          saveButton.html('Save'); // Reset the button text after completion
        });
    });
  });
</script>
<script>
  /**
   * Add datepicker on birth date field.
   */
   $(document).ready(()=>{
    $('#id_birth_date').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
      minYear: 1920,
      maxYear: parseInt(moment().format('YYYY'), 10) + 1
    });
  });
</script>