<div class="modal fade" id="variationDeleteModal" tabindex="-1" role="dialog" aria-labelledby="variationDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="variationDeleteModalLabel">Confirm Deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a href="#" id="deleteVariationConfirmButton" data-url="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
<script>
  /**
   * Script for deleting a variation.
   */
  $(document).ready(function() {
    $('#idVariationsTableContainer').on('click', '.delete-variation', (event)=> {
      let deleteUrl = event.currentTarget.dataset.url;
      // Set the new action attribute for the form
      $('#deleteVariationConfirmButton').attr('data-url', deleteUrl);
    });

    // When the button on the confirm modal is clicked this will fire a request using axios.
    $('#deleteVariationConfirmButton').on('click', (event)=> {
      let deleteVariationConfirmButton = $('#deleteVariationConfirmButton');
      const header_data = {
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
      };
      let deleteUrl = event.currentTarget.dataset.url;
      let spinner = `
      <div class="spinner-border text-light" role="status" style="height: 1.4rem; width: 1.4rem">
        <span class="sr-only">Loading...</span>
      </div>`;
      deleteVariationConfirmButton.html(spinner);
      axios.post(deleteUrl, {}, header_data)
        .then(response => {
          reloadComponent("{% url 'inventory:list_variation' product.item_code %}", 'idVariationsTableContainer', true);
          $('#variationDeleteModal').modal('hide');
        })
        .catch(error => {
          console.error('Error:', error);
        })
        .finally(function () {
          deleteVariationConfirmButton.html('Delete');
        });
    });
  });
</script>
