<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th class="text-center">Date</th>
        <th class="text-center">Name</th>
        <th class="text-center">Category</th>
        <th class="text-center">Amount</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for expense in expenses %}
      <tr>
        <td class="text-center">{{ expense.expense_date|date:"m/d/Y" }}</td>
        <td class="text-center">{{ expense.name }}</td>
        <td class="text-center">{{ expense.get_category_display }}</td>
        <td class="text-center">{{ expense.amount }}</td>
        <td class="text-center">
          <a
            class="btn btn-warning update-expense"
            data-id="{{ expense.id }}"
            data-category="{{ expense.category }}"
            data-amount="{{ expense.amount }}"
            data-name="{{ expense.name }}"
            data-date='{{ expense.expense_date|date:"m/d/Y" }}'
            data-url="{% url 'expenses:update_expense' expense.id %}"
          >
            <span class="icon text-white-50">
              <i class="fas fa-pen"></i>
            </span>
          </a>
          <a
            class="btn btn-danger delete-expense"
            data-toggle="modal"
            data-target="#expenseDeleteModal"
            data-url="{% url 'expenses:delete_expense' expense.id %}"
          >
            <span class="icon text-white-50">
              <i class="fas fa-trash"></i>
            </span>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  /**
   * Apply datatable.net plugin on the table.
   */
  $(document).ready(function() {
    $('#dataTable').DataTable({
      order: [],
    });
  });
</script>
