{% extends 'base.html' %}
{% block header %}Inventory{% endblock %}

{% block button %}
<button data-toggle="modal" data-target="#inventoryModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-icon-split">
  <span class="icon text-white-50">
    <i class="fas fa-cart-plus"></i>
  </span>
  <span class="text">Create product</span>
</button>
{% endblock %}

{% block content %} 
  <div class="row">
    <div class="col-xl-4 col-md-4 mb-4" id="totalSaleContainer">
      {# include 'sales/cards/card_total_sale.html' #}
    </div>
    <div class="col-xl-4 col-md-4 mb-4" id="totalExpenseContainer">
      {# include 'expenses/cards/card_total_expense.html' #}
    </div>
    <div class="col-xl-4 col-md-4 mb-4" id="totalProfitContainer">
      {# include 'sales/cards/card_profit.html' #}
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Products</h6>
        </div>
        <div id="idProductTableContainer" class="card-body d-flex justify-content-center align-items-center">
          <!-- This will be filled by axios -->
        </div>
      </div>
    </div>
  </div>
  {% include 'inventory/forms/create_inventory.html' %}
  {% include 'inventory/forms/update_inventory.html' %}
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(()=>{
    // Call the function to fetch data and populate the DataTable
    reloadComponent("{% url 'inventory:list_product' %}", 'idProductTableContainer', true);
  });
</script>
{% endblock %}
