{% extends 'base.html' %}
{% block header %}
  <a href="{% url 'inventory:home' %}" style="text-decoration:none">
    <span>
      <i class="fa fa-arrow-circle-left"></i>
    </span>
  </a>
  Inventory / Product
{% endblock %}

{% block button %}
{% if user.is_staff %}
<button data-toggle="modal" data-target="#variationModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-icon-split">
  <span class="icon text-white-50">
    <i class="fas fa-cart-plus"></i>
  </span>
  <span class="text">Add variation</span>
</button>
{% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Product: {{ product.name }} ({{ product.item_code }})</h6>
        </div>
        <div id="idVariationsTableContainer" class="card-body d-flex justify-content-center align-items-center">
          <!-- This will be filled by axios -->
        </div>
      </div>
    </div>
  </div>
  {% include 'inventory/forms/create_variation.html' %}
  {% include 'inventory/forms/update_variation.html' %}
  {% include 'inventory/forms/delete_variation.html' %}
  {% include 'inventory/forms/add_delivery.html' %}
  {% include 'inventory/forms/subtract_delivery.html' %}
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(()=>{
    // Call the function to fetch data and populate the DataTable
    reloadComponent("{% url 'inventory:list_variation' product.item_code %}", 'idVariationsTableContainer', true);
  });
</script>
{% endblock %}
