{% extends 'base.html' %}
{% block header %}POS{% endblock %}

{% block css %}
  <style>
    .cursor-pointer {
      cursor: pointer;
    }
    .disabled {
      cursor: not-allowed;
    }
    .product-box {
      border: 1px solid #ccc;
      padding: 1rem;
      margin: 0;
      text-align: center;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  </style>
{% endblock %}

{% block button %}
<button id="testModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-icon-split">
  <span class="icon text-white-50">
    <i class="fas fa-cart-plus"></i>
  </span>
  <span class="text">Remove Items</span>
</button>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xl-8 col-lg-8">
      <div class="card shadow mb-4">
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Products</h6>
        </div>
        <div class="card-body">
          <div class="row mx-0" style="margin-bottom: 1rem;">
            <input id="idProductSearch" type="text" class="form-control" placeholder="Search product"/>
          </div>
          <div class="row row-cols-1 row-cols-md-6 mx-0" id="idProductListContainer">
            <!-- Fill this with product list -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4">
      <div class="card shadow mb-4">
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Cash Register</h6>
        </div>
        <div class="card-body d-flex justify-content-center align-items-center">
          <div class="row mx-0" id="idCashRegister" >
            


          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script>
  $('#testModal').on('click', ()=>{
    localStorage.removeItem('selected_products');
  });
</script>
<script>
  /**
   * Script for loading products on cash register.
   */
  let searchTimeout;
  let productListURL = "{% url 'pos:list_product' %}";
  $(document).ready(() => {
    reloadComponent(productListURL, 'idProductListContainer', false);

    $('#idProductSearch').on('input', () => {
      clearTimeout(searchTimeout);
      searchTimeout = setTimeout(() => {
        let searchedTerm = $('#idProductSearch').val();
        productListURL = `{% url 'pos:list_product' %}?searched_term=${searchedTerm}`;
        reloadComponent(productListURL, 'idProductListContainer', false);
      }, 500);
    });
  });

  // Function to add product items in the Local Storage.
  function saveToLocalStorage (key, value) {
    const productsInJSON = localStorage.getItem(key);
    const productsArray = productsInJSON ? JSON.parse(productsInJSON) : [];

    let productIDs = productsArray.map((productDetail, index) => {
      return Object.keys(productDetail)[index];
    });

    if (!productsArray.includes(value)) {


      productsArray.push(value);
      const updatedproductsInJSON = JSON.stringify(productsArray);
      localStorage.setItem(key, updatedproductsInJSON);
    }
  }

  // On-click function on the product list/ product selection.
  $('#idProductListContainer').on('click', '.with-stock', (event) => {
    let productElement   = event.currentTarget;
    let productId = productElement.dataset.id;
    let productDetails = {
      [productId]: {
        'quantity': 1,
        'discount': 0,
      }
    }
    saveToLocalStorage('selected_products', productDetails);

    // Apply highlighting effect when the product is clicked.
    let pElements = productElement.querySelectorAll('p');
    productElement.classList.toggle('bg-secondary');
    Array.from(pElements).map(pElement => {
      pElement.classList.toggle('text-white');
    });

    reloadComponent(productListURL, 'idProductListContainer', false);
    let header = {headers: {'X-CSRFToken': '{{ csrf_token }}'}};
    let renderCashRegisterURL = "{% url 'pos:checkout' %}";
    reloadComponentPost(renderCashRegisterURL, {}, header, 'idCashRegister', false);
  });
</script>
{% endblock %}
