{% extends 'base.html' %}
{% block header %}POS{% endblock %}

{% block css %}
  <style>
    .cursor-pointer {
      cursor: pointer;
    }
    .disabled {
      cursor: not-allowed;
    }
    .product-box {
      border: 1px solid #ccc;
      padding: 1rem;
      margin: 5px;
      text-align: center;
      border: 1px solid #6c757d;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      font-size: 0.75rem;
      height: 90%;
    }
  </style>
  <style>
    label.invisible {
      color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xl-8 col-lg-8">
      <div class="card shadow mb-4">
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Products</h6>
        </div>
        <div class="card-body">
          <div class="row mx-0" style="margin-bottom: 1rem;">
            <input id="idProductSearch" type="text" class="form-control" placeholder="Search product"/>
          </div>
          <div class="row row-cols-1 row-cols-md-6 mx-0 justify-content-between" id="idProductListContainer">
            <!-- Fill this with product list -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4">
      <div class="card shadow mb-4">
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Cash Register</h6>
          <button id="idClearCashRegister" class="btn btn-sm btn-danger">
            <i class="fa fa-recycle" aria-hidden="true"></i> Clear</button>
        </div>
        <div class="card-body d-flex justify-content-center align-items-center">
          <div class="row mx-0" id="idCashRegister" >
             <!-- Fill this with checkout details -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script>
  /**
   * Script for loading products on cash register.
   */
  let searchTimeout;
  let productListURL = "{% url 'pos:list_product' %}";
  $(document).ready(() => {
    reloadComponent(productListURL, 'idProductListContainer', false);
    loadCheckOut();

    $('#idProductSearch').on('input', () => {
      clearTimeout(searchTimeout);
      searchTimeout = setTimeout(() => {
        let searchedTerm = $('#idProductSearch').val();
        productListURL = `{% url 'pos:list_product' %}?searched_term=${searchedTerm}`;
        reloadComponent(productListURL, 'idProductListContainer', false);
      }, 500);
    });
  });

  // Get and parse the data from local storage.
  function getProducts(key) {
    const productsInJSON = localStorage.getItem(key);
    return productsInJSON ? JSON.parse(productsInJSON) : [];
  }

  function loadCheckOut () {
    // Loads the cash register.
    let products_in_json = getProducts('selected_products');
    let header = {headers: {
      'X-CSRFToken': '{{ csrf_token }}',
      'Content-Type': 'x-www-form-urlencoded'
    }};
    let renderCashRegisterURL = "{% url 'pos:checkout' %}";
    reloadComponentPost(renderCashRegisterURL, {'products_in_json': products_in_json}, header, 'idCashRegister', false);
  }

  // Function to add product items in the Local Storage.
  function saveToLocalStorage (key, newProductDetail) {
    // Get the existing products on the local storage and compile the product IDs.
    const productsArray = getProducts(key);
    let productIDs = productsArray.map(productDetail => Object.keys(productDetail)[0]);

    // Add the new product in the array if it does not exist.
    const newProductId = Object.keys(newProductDetail)[0];
    if (!productIDs.includes(newProductId)) {
      productsArray.push(newProductDetail);
      const updatedproductsInJSON = JSON.stringify(productsArray);
      localStorage.setItem(key, updatedproductsInJSON);
    }
  }

  // Function to remove an item from local storage based on its key
  function removeFromLocalStorage(key, itemId) {
    const productsArray = getProducts(key);
    // Find the index of the item to remove based on its ID
    const indexToRemove = productsArray.findIndex((productDetail) => {
      return Object.keys(productDetail)[0] === itemId;
    });
    // If the item was found, remove it from the array and update local storage
    if (indexToRemove !== -1) {
      productsArray.splice(indexToRemove, 1);
      const updatedproductsInJSON = JSON.stringify(productsArray);
      localStorage.setItem(key, updatedproductsInJSON);
    }
  }

  // Function to update the quantity of an existing product in Local Storage.
  function updateQuantityInLocalStorage(key, productID, newQuantity) {
    const productsArray = getProducts(key);

    // Find the index of the item to update based on its ID
    const indexToUpdate = productsArray.findIndex((productDetail) => {
      return Object.keys(productDetail)[0] === productID;
    });

    // If the item was found, update its quantity and update local storage
    if (indexToUpdate !== -1) {
      const existingProductDetail = productsArray[indexToUpdate];
      const existingProductId = Object.keys(existingProductDetail)[0];

      // Update the quantity of the existing product
      existingProductDetail[existingProductId].quantity = newQuantity;
      const updatedProductsInJSON = JSON.stringify(productsArray);
      localStorage.setItem(key, updatedProductsInJSON);
    }
  }

  // Function used to clear cash register and unselect the products in product list.
  function clearOutCashRegister() {
    localStorage.removeItem('selected_products');
    loadCheckOut();
    // Get all elements with class "with-stock" and "bg-secondary"
    const elements = document.querySelectorAll('.with-stock.bg-secondary');

    // Loop through each element and remove the "bg-secondary" class
    elements.forEach(element => {
      element.classList.remove('bg-secondary');
      const childParagraphs = element.querySelectorAll('p');
      childParagraphs.forEach(paragraph => {
        paragraph.classList.remove('text-white');
      });
    });
  }

  // On-click function on the product list/ product selection.
  $('#idProductListContainer').on('click', '.with-stock', (event) => {
    let productElement = event.currentTarget;
    let productId = productElement.dataset.id;
    let orderNumber = getProducts('selected_products').length + 1;
    let productDetail = {
      [productId]: {
        'ordering': orderNumber,
        'quantity': 1,
      }
    }
    saveToLocalStorage('selected_products', productDetail);

    // Apply highlighting effect when the product is clicked.
    let pElements = productElement.querySelectorAll('p');
    productElement.classList.add('bg-secondary');
    Array.from(pElements).map(pElement => {
      pElement.classList.add('text-white');
    });
    loadCheckOut();
  });

  // Onclick function for clear button in the cash register.
  $('#idClearCashRegister').on('click', ()=>{
    clearOutCashRegister();
  });

  $('#idCashRegister').on('click', '.trash-checkout-item', (event) => {
    let productId = event.currentTarget.dataset.target_id;
    const productElement = document.querySelector(`[data-id="${productId}"]`);
    if (productElement) {
      productElement.classList.toggle('bg-secondary');
      Array.from(productElement.querySelectorAll('p')).forEach(pElement => {
        pElement.classList.toggle('text-white');
      });
    }
    removeFromLocalStorage('selected_products', productId);
    loadCheckOut();
  });

  $('#idCashRegister').on('change', '.checkout-product-quantity', (event)=> {
    let quantityInput = event.currentTarget;
    let productId = quantityInput.dataset.target_id;
    let quantity = parseInt(quantityInput.value);
    let inStock = parseInt(quantityInput.getAttribute('max'));

    // Prevent the user for entering zero or negative values and quantities greater than the stock.
    if (quantity > inStock) {
      quantityInput.value = inStock;
      quantity = inStock;
    } else if (1 > quantity) {
      quantityInput.value = 1;
      quantity = 1;
    }

    // Compute for the total price.
    let price = parseFloat($(`#idCheckoutProductPrice${productId}`).data('price'));
    let total = price * quantity;

    $(`#idCheckoutProductPrice${productId}`).val(total.toFixed(2));
    updateQuantityInLocalStorage('selected_products', productId, quantity);
    loadCheckOut();
  });

  $('#idCashRegister').on('click', '#confirmToCheckout', ()=>{
    // Loads the cash register.
    let products_in_json = getProducts('selected_products');
    let header = {headers: {
      'X-CSRFToken': '{{ csrf_token }}',
      'Content-Type': 'x-www-form-urlencoded'
    }};
    let createSaleURL = "{% url 'pos:create_sale' %}";
    axios.post(createSaleURL, {'products_in_json': products_in_json}, header)
      .then(function (response) {
        triggerAlert('Success', response.data.message);
        clearOutCashRegister();
        reloadComponent(productListURL, 'idProductListContainer', false);
      })
      .catch(function (error) {
        let errorMessage = error.response.data.message;
        if (error.response.data.message === undefined) {
          errorMessage = error.message;
        }
        triggerAlert('Error', errorMessage);
        console.error(error);
      });
    $('#checkOutModal').hide();
    $('body').removeClass('modal-open');
    $('.modal-backdrop').remove();
  });
</script>
{% endblock %}
