{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a 
    class="sidebar-brand d-flex align-items-center justify-content-center"
    {% if user.is_staff %}
    href="{% url 'dashboards:home' %}"
    {% else %}
    href="{% url 'pos:home' %}"
    {% endif %}
  >
    <div class="sidebar-brand-icon">
      <img src="{{ LOGO_LINK }}" class="" style="height: 3rem"/>
    </div>
    <div class="sidebar-brand-text mx-3">{{ PROJECT_NAME }}</div>
  </a>

  {% if user.is_staff %}
  <hr class="sidebar-divider my-0">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'dashboards:home' %}">
      <i class="fas fa fa-chart-area"></i>
      <span>Dashboard</span>
    </a>
  </li>
  {% endif %}

  <hr class="sidebar-divider">
  <div class="sidebar-heading my-1">Management</div>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'pos:home' %}">
      <i class="fas fa-fw fa-cash-register"></i>
      <span>POS</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'inventory:home' %}">
      <i class="fas fa-fw fa-list-alt"></i>
      <span>Inventory</span>
    </a>
  </li>

  {% if user.is_staff %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'expenses:home' %}">
      <i class="fas fa-fw fa-wallet"></i>
      <span>Expenses</span>
    </a>
  </li>
  {% endif %}

  <hr class="sidebar-divider">
  <div class="sidebar-heading my-1">Reports</div>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'pos:sale' %}">
      <i class="fas fa-fw fa-book"></i>
      <span>Sales</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'inventory:delivery' %}">
      <i class="fas fa-fw fa-truck"></i>
      <span>Deliveries</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'inventory:out_of_stock' %}">
      <i class="fas fa-fw fa-shopping-basket"></i>
      <span>Out of stock</span>
    </a>
  </li>
  {% if user.is_staff %}
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapsePages"
      aria-expanded="true"
      aria-controls="collapsePages"
    >
      <i class="fas fa-fw fa-folder"></i>
      <span>Generate</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Reports:</h6>
        <a class="collapse-item" href="{% url 'inventory:to_ship' %}">To Ship</a>
        <a class="collapse-item" href="{% url 'inventory:export_to_excel' %}" target="_blank">Export Stocks</a>
      </div>
    </div>
  </li>
  {% endif %}
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">
</ul>
<!-- End of Sidebar -->